{{template "header" .}}
{{define "Css"}}/css/complain.css{{end}}
<div class="main-box">
  <div class="add-complaint">
    <div class="alert alert-success show-info" role="alert">
      <button type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="text-show-info"></span>
    </div>
    <form role="form" class="add-form">
      <div class="form-group">

        <label for="inputName">投诉人</label>
        <input type="text" class="form-control" id="inputName" placeholder="投诉人姓名">
      </div>
      <div class="form-group">
        <label for="inputTel">投诉人联系电话</label>
        <input type="text" class="form-control" id="inputTel" placeholder="电话号码">
      </div>

      <div class="form-group">
        <label for="beComplaintName">被投诉人姓名或群体</label>
        <input type="text" class="form-control" id="beInputName" placeholder="被投诉人姓名或群体">
      </div>
      <div class="form-group">
        <label for="beComplaintHome">被投诉人方位</label>
        <input type="text" class="form-control" id="beComplaintHome" placeholder="被投诉人住址">
      </div>

      <div class="form-group">
        <label for="inputReason">投诉原因</label>
        <textarea class="form-control" id="inputReason" placeholder="投诉原因" rows="4"></textarea>
      </div>

      <div class="form-group">
        <label for="dealPerson">受理人</label>
        <input type="text" class="form-control" id="dealPerson" placeholder="受理人">
      </div>
      <div class="form-group">
        <div>
          <button type="button" class="btn btn-primary btn-block" id="submit">投诉</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{template "footer"}}
<script>
  (function(){
    function complain(){};
    complain.prototype.init = function(){
      this.$input = $(':input')
      this.$inputName = $('#inputName');
      this.$inputTel = $('#inputTel');
      this.$beInputName = $('#beInputName');
      this.$beComplaintHome = $('#beComplaintHome');
      this.$inputReason = $('#inputReason');
      this.$dealPerson = $('#dealPerson');
      this.$textShowInfo = $('#text-show-info');
      this.$showInfoDiv = $('.show-info')
    };

    complain.prototype.doRequest = function() {
      var self = this
      data = {
        inputName: this.$inputName.val(),
        inputTel: this.$inputTel.val(),
        beInputName: this.$beInputName.val(),
        beComplaintHome: this.$beComplaintHome.val(),
        inputReason: this.$inputReason.val(),
        dealPerson: this.$dealPerson.val(),
      }
      self.$input.val('') //clear
      $.post('/complaint/add', data, function(result) {
        if (result.Code === 0) {
          self.$showInfoDiv.css('display', 'block');
          return self.$textShowInfo.text(result.Msg)
        }
        slef.$textShowInfo.text(result.Msg)
      });
    };

    var ins = new complain();
    ins.init();
    $('#submit').click(function() {
      ins.doRequest();
    });

    $('.show-info .close').click(function() {
      $('.show-info').css('display', 'none');
    })
  }());
  
</script>