body {
  font-size: 14px;
  font-family: 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
  font: 13px/20px 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,'Hiragino Sans GB',sans-serif;
  color: #444;
  background: none repeat scroll 0 0 #F1F1F1;
}
.main-box {
  margin: 20px auto;
  box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
  max-width: 960px;
  overflow: hidden;
  height: 800px;
  background-color: #fff;
}

.add-complaint {
  width: 80%;
  margin: 100px auto;
}
.add-complaint textarea {
  resize: none;
  overflow: auto;
}

.add-complaint .show-info {
  display: none;
  position: absolute;
  width: 768px;
  top: 113px;
  height: 48px;
}
.main-box .paging{
  position: relative;
  left: 36%;
}
.main-box .table-responsive {
  padding: 5px;
}